/* Importar fuentes */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Share+Tech+Mono&display=swap');

/* Variables de colores */
:root {
  --seasalt: #f8fafa;
  --silver: #c5c6c8;
  --gray: #818283;
  --dovysgray: #4f5052;
  --raisinblack: #282728;
  --night: #0d0e10;
}

/* Configuración universal */
* {
    margin: 3px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

/* Estilos generales */
html,
body {
    height: 100%;
    background: var(--gray);
    box-shadow: 0 0 12rem var(--gray) inset;
    animation: glowing 5s ease-in-out infinite alternate;
    border-radius: 50px;
}

header {
    width: 100%;
    padding: 2rem 4rem 1rem;
}

nav {
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo {
    background-image: url("img/logoalura.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 4rem;
    height: 4rem;
    padding: 2rem;
    border: solid 4px var(--dovysgray);
    border-radius: 100%;
    box-shadow: 0rem 0.1rem 0.6rem var(--night);
    filter: grayscale(100%);
}

h1 {
    padding: 0rem 1rem;
    font-weight: 200;
    text-transform: uppercase;
    color: var(--dovysgray);
    text-shadow: 0rem 0.1rem 1rem var(--raisinblack);
    font-size: 2rem;
}

span {
    animation: blink 1s infinite;
}

/* Sección del cuerpo */
main {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem 7rem;
}

.container1 {
    width: 45%;
    background-size: 0%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease, background-size 0.5s ease;
}

/* Textarea */
.contenedorTextarea1 {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 3px;
}

.contenedorTextarea1 > textarea {
    background-color: transparent;
    font-size: 1rem;
    color: var(--raisinblack);
    padding: 3rem;
    width: 100%;
    height: 98%;
    resize: none;
    border: solid 1px var(--dovysgray);
    transition: all 0.6s linear;
    box-sizing: border-box;
}

.contenedorTextarea1 > textarea::placeholder {
    color: var(--raisinblack);
    opacity: 0.5;
}

.contenedorTextarea1 > textarea:focus {
    outline: none;
    border: solid 3px var(--night);
    box-shadow: 0px 0px 10px 2px var(--dovysgray) inset;
}

.contenedorTextarea1 > button {
    position: absolute;
    top: 0;
    right: -65px;
    width: 15%;
    text-align: center;
}

/* Botones */
button {
    background: transparent;
    padding: 10px 18px;
    border: 1px solid var(--raisinblack);
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
    width: 50%;
    color: var(--raisinblack);
    transition: all 0.6s linear;
    text-shadow: 0rem 0.08rem 0.2rem rgb(12, 13, 12);
}

button:hover {
    color: var(--gray);
    background: var(--night);
    text-shadow: 0rem 0.08rem 0.3rem var(--raisinblack);
}

.btn-container {
    display: flex;
    width: 120%;
    justify-content: center;
}

.btn-container > button {
    width: 100%;
}

/* Footer */
footer {
    position: fixed;
    bottom: -18px;
    width: 105%;
    text-align: center;
    padding: 2rem 0rem;
}

p {
    color: var(--dovysgray);
    font-size: 1.4rem;
    text-shadow: 0rem 0.08rem 0.2rem var(--seasalt);
}

p > a {
    color: var(--raisinblack);
    text-decoration: none;
    text-shadow: 0rem 0.08rem 0.2rem var(--dovysgray);
}

/* Media Queries */
@media screen and (max-width: 1400px) {
    /* Estilos para pantallas hasta 1400px de ancho */
    main {
        padding: 1rem 5rem; 
    }

    .container1 {
        width: 50%; /* Ajustar el ancho del contenedor */
    }
}

@media screen and (max-width: 768px) {
    /* Estilos para pantallas hasta 768px de ancho */
    body {
        font-size: 14px; /* Ajustar el tamaño de fuente para pantallas pequeñas */
    }

    header {
        padding: 1rem 2rem 0.5rem; /* Reducir el padding del encabezado */
    }

    .logo {
        width: 3rem;
        height: 3rem;
        padding: 1rem;
    }

    h1 {
        font-size: 1.5rem; /* Reducir el tamaño de fuente */
    }

    main {
        padding: 1rem 3rem; /* Reducir el padding del contenido principal */
    }

    .container1 {
        width: 90%; /* Utilizar un ancho mayor para adaptarse a pantallas pequeñas */
    }

    .contenedorTextarea1 > button {
        right: -45px; /* Ajustar la posición del botón en pantallas pequeñas */
    }
}

@media screen and (max-width: 390px) {
    /* Estilos para pantallas hasta 390px de ancho */
    header {
        padding: 1rem 1.5rem 0.5rem; /* Reducir el padding del encabezado */
    }

    .logo {
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.8rem;
    }

    h1 {
        font-size: 1.2rem; /* Reducir el tamaño de fuente */
    }

    main {
        padding: 1rem 1.5rem; /* Reducir el padding del contenido principal */
    }

    .container1 {
        width: 100%; /* Utilizar el ancho completo para adaptarse a pantallas pequeñas */
    }

    .contenedorTextarea1 > button {
        right: -35px; /* Ajustar la posición del botón en pantallas más pequeñas */
    }
}


/* Animaciones*/
@keyframes blink-lines {
    0% {
        opacity: 0.85;
    }

    100% {
        opacity: 1;
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    50.1% {
        opacity: 1;
    }
 }
  